.pixel {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 1px;
  margin-top: 1px;
}

.matrix-row {
  line-height: 0
}

.on {
  background-color: green;
}

.off {
  background-color: black;
}
